@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HERO SECTION - NAV */

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 120px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

img {
    width: 100%;
}

/* HERO SECTION - HEADER */

.header {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0;
}

.header-img {
    width: 500px;
    border-radius: 15px;
}

.awesome {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.header-container {
    width: 500px;
}

.header-container div {
    color: #E5E7EB;
    margin-bottom: 20px;
}

button {
    background-color: #3382f6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;

}

/* RANDOM INFO SECTION */

.random-info-section {
    margin-bottom: 80px;
}

.random-title {
    text-align: center;
    margin: 60px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.item-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 0;
}

.item {
    width: 200px;
}

.small-img img {
    border: 2px solid #3382f6;
    border-radius: 20px;
}

.small-img-text {
    text-align: center;
    margin-top: 10px;
    color: rgb(60, 60, 60);
}

/* TESTIMONIAL SECTION */

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.thor {
    font-size: 20px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 20px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    padding: 100px;
}

@media only screen and (max-width: 600px) {
    .header-img {
        width: 400px;
    }

    .testimonial {
        padding: 50px;
    }
}

.quote {
    width: 100%;
}

/* CALL TO ACTION SECTION */

.call-to-action {
    display: flex;
    justify-content: center;
    margin: 60px;
    padding: 60px;
    gap: 30px;
    color: #F9FAF8;
    background-color: #3382f6;
    border-radius: 20px;
}

.time {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 900;
}

.button {
    display: flex;
    align-items: center;
}

/* FOOTER */

footer {
    padding: 20px;
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100%;
}